@import "lib/color";
@import "lib/font_family";
@import "lib/font-size";

body {
  @include FFSourceSansPro();
  line-height: 1.7;
  word-wrap: break-word;
  font-size: 16px;
  color: $colorText;
}

#title {
  font-size: 313%;
  font-family: Lato, sans-serif;
  letter-spacing: .05em;
  padding: 20px 20px;
  background: #1c1f2b;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
}

#title a {
  color: #fff;
  font-size: 50px;
  font-family: -webkit-pictograph;
  line-height: normal;
}

.entry-content pre {
  padding: 15px 25px;
  white-space: pre;
  font-size: 15px;
  border-radius: 3px;
  font-weight: normal;
  line-height: 20px;
  font-family: monospace;
  background: #6a5e84;
  color: #fff;
  &:hover {
    color: #3bb4a5;
  }
}

.entry-inner {
  .entry-title {
    margin: 0;
    padding: 25px;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center
  }
  .entry-categories {
    color: $blackColor;
  }
}

.entry-content {
  padding: 40px 0 0;
  img {
    width: 450px;
    margin: 20px 0px;
    border-radius: 5px;
    border: solid 1px #efefef;
  }
}

.hatena-module-profile {
  .id {
    a {
      font-size: 15px;
      border: none;
      color: $colorLink;
    }
  }
}

.entry-content {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: normal;
}

#blog-title {
  background: none
}

.services,
.footer-address-name {
  font-size: $font10;
}

.pager-next {
  a {
    color: $blackColor;
    font-size: $font15;
    &:hover {
      color: $pinkColor;
      border-bottom: none;
    }
  }
}

